<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>登陆</title>
    </head>

<body>
        <header style="background-color:rgb(112, 126, 207); padding: 20px 0;">
            <h3>我的书架</h3>
        </header>
        <form action="/signin" method="post">
            <p>Name:
                <input name="name" value="koa">
            </p>
            <p>Password:
                <input name="password" type="password">
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
        <footer style="background-color:#ddd; padding: 20px 0;"></footer>
</body>
</html>